body{
    background-color:  #02041b;
    font-family: 'Operator Mono', sans-serif;
    position: relative;
    color: #E4D9FF;
}
.space{
    height: 15px;
}

a{
    text-decoration: none;
}
#particles-js{
    height: 100%;
    background-color: #02041b ;
    position: absolute;
}

header{
    position: fixed;
    background-color: #02041b;
    width: 100%;
    top: 0%;
    left: 0%;
    color: #E4D9FF;
    height: auto;
}
.header-list{
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    justify-content: space-evenly;
}

.nav-link{
    color: #e4d9ff;
    text-decoration: none;

}
.logo{
    width: auto;
    height: auto;
}
section{
    color:#E4D9FF;
    background-color: #050833;
    
}
#introduction{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    
}
#intro-text{
    align-items: center;
    padding-top: 5%;
    
}
#name{
    font-size: 30px;
}
#personal_name{
    color:rgb(123, 0, 255) ;
    
}
.to_be_centered{
    padding-left: 10%;
    padding-right: 10%;
}

#intro-social{
    padding-top: 2%;
}
.social{
    height: 30px;

}
.desc{
    margin-top: 0%;
    margin-bottom: 0.5%;
}

#about{
    padding-bottom: 1%;
    padding-top: 1%;

}

#prof-image{
    align-self: flex-end;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}
#intro-contact{
    color: #E4D9FF;
    border-radius: 10%;
    background-color: rgb(123, 0, 255);
    box-shadow: none;
}

#projects{
    padding-top: 1%;
    padding-bottom: 1%;
}

#project-desc{
    display: flex;
    justify-content: space-evenly;
}

#projects-header{
    padding-left: 10%;
}

.project{
    border: 2px solid black;
    box-shadow: inset;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    
}
.container{
    width: 400px;
}

.progress{
    padding: 6px;
    background-color: black;
    border-radius: 20px;
    
}


.progress-bar{
    height: 18px;
    background-color: teal;
    border-radius: 20px;
    animation: progressAnimation 7s;
}
@keyframes progressAnimation {
    0% {width: 0%;}
    80% {width: 80%;}
    100% {width: 100%;}
}



#progress{
    padding-left: 10%;
    padding-right: 10%;
}

.project-link{
    text-decoration: none;
    color: black;
}
#resume{
    padding-bottom: 20px;
}





/*Media section for 900px*/
@media screen and (max-width: 800px) {
    .to_be_centered{
        padding-left: 0%;
        padding-right: 0%;
    }

    .progress{
        padding: 6px;
        background-color: black;
        border-radius: 20px;
        width: 40svh;
    }
    
    .progress-bar{
        height: 18px;
        background-color: teal;
        border-radius: 20px;
        animation: progressAnimation 3s;
        
    }
    @keyframes progressAnimation {
        0% {width: 0%;}
        80% {width: 80%;}
        100% {width: 100%;}
    }

    
}

@media screen and (min-width: 900px) {
    #skills{
        display: flex;
        justify-content: space-between;
    }
    
}

